<!DOCTYPE html>
<html>
	<head>
		<title>Civic OAUTH Example</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<style>body {
				font-family: "Source Sans Pro", sans-serif;
			}</style>
	</head>
	<body>
		<%- body %>
	</body>
</html>
